/* Plus Jakarta Sans */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* AOS */
@import "aos/dist/aos.css";

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-montserrat text-theme-donker;
  }
}

@layer components {
  .container_section {
    @apply w-full lg:max-w-[1200px] md:max-w-[696px] max-w-none mx-auto lg:px-0 px-[30px] relative;
  }
  .container_section_slider {
    @apply w-full lg:max-w-[1200px] md:max-w-[696px] max-w-none mx-auto lg:pl-0 lg:pr-0 pl-[30px] pr-0 relative;
  }
}

@layer utilities {
  .label {
    @apply font-medium text-base text-slate-50;
  }
  .form_input {
    @apply w-full p-[10px] font-normal text-sm text-input-label placeholder:text-input-form border border-input-form outline-none;
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.toRight {
  animation: toRight 2s ease-in-out infinite;
}

.scrolling-container {
  animation: scroll-left 30s linear infinite;
}

.scrolling-container:hover {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .scrolling-container {
    animation: scroll-left 20s linear infinite;
  }
}

.box_vendor {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9) translateY(50px);
  }
  100% {
    transform: scale(1);
  }
}

.scaleInOut {
  animation: scaleInOut 10s ease-in-out infinite;
}

@keyframes scaleInOut1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9) translateY(50px) translateX(50px);
  }
  100% {
    transform: scale(1);
  }
}

.scaleInOut1 {
  animation: scaleInOut1 10s ease-in-out infinite;
}

@keyframes scaleInOut2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9) translateY(50px) translateX(-50px);
  }
  100% {
    transform: scale(1);
  }
}

.scaleInOut2 {
  animation: scaleInOut2 10s ease-in-out infinite;
}

@keyframes scaleInOut3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9) translateY(50px) translateX(-50px);
  }
  100% {
    transform: scale(1);
  }
}

.scaleInOut3 {
  animation: scaleInOut3 10s ease-in-out infinite;
}

/* Running Client */
@keyframes scrollClients {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.container_clients {
  display: flex;
  overflow: hidden; /* Sembunyikan elemen di luar container */
  position: relative;
  width: 100%;
}

.wrapper_clients {
  display: flex;
  animation: scrollClients 10s linear infinite;
}

.wrapper_clients:hover {
  animation-play-state: paused;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #352b5a; /* Blue scrollbar */
  border-radius: 10px; /* Rounded edges */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e4e4e7; /* Light background for the scrollbar track */
  border-radius: 10px;
}

/* Firefox Scrollbar Styling */
.custom-scrollbar {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #352b5a #e4e4e7; /* Thumb color and track color */
}

/* Gaya untuk bullet pagination */
.swiper-pagination-bullet {
  width: 10px !important;
  height: 6px !important;
  background-color: gray !important; /* Warna default */
  border-radius: 20px !important; /* Membuat bullet berbentuk lingkaran */
  transition: all 0.3s ease !important; /* Animasi perubahan */
}

/* Gaya untuk bullet yang aktif */
.swiper-pagination-bullet-active {
  width: 30px !important;
  height: 6px !important;
  background-color: #475569 !important; /* Warna default */
  border-radius: 20px !important; /* Membuat bullet berbentuk lingkaran */
  transition: all 0.3s ease !important; /* Animasi perubahan */
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.zoomIn {
  animation: zoomIn 10s ease-in-out infinite;
}

.main_hero {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0.1) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0.1) 100%
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

@media (max-width: 1024px) {
  /* Menonaktifkan masking untuk tablet dan mobile */
  .main_hero {
    -webkit-mask-image: none;
    mask-image: none;
  }
}

.main_short {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0.1) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0.1) 100%
  );
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

@media (max-width: 1024px) {
  /* Menonaktifkan masking untuk tablet dan mobile */
  .main_short {
    -webkit-mask-image: none;
    mask-image: none;
  }
}

/* Atur warna dan ukuran pagination fraction */
.excellence-swiper .swiper-pagination-fraction {
  transform: translateX(-30px) !important;
  color: white !important; /* Ubah warna menjadi putih */
  font-size: 16px !important; /* Sesuaikan ukuran teks */
  font-weight: normal !important; /* (Opsional) Tambahkan ketebalan */
}

.excellence-swiper .swiper-pagination-fraction .swiper-pagination-current,
.excellence-swiper .swiper-pagination-fraction .swiper-pagination-total {
  color: white !important; /* Pastikan angka juga putih */
}

@media (max-width: 768px) {
  /* Atur warna dan posisi pagination fraction */
  .excellence-swiper .swiper-pagination-fraction {
    position: absolute !important; /* Jadikan absolute */
    top: auto !important; /* Atur posisi sesuai kebutuhan */
    bottom: 0px !important; /* Geser sedikit dari bawah */
    left: 0px !important; /* Rata kiri */
    color: white !important; /* Ubah warna menjadi putih */
    font-size: 12px !important; /* Sesuaikan ukuran teks */
    font-weight: normal !important; /* (Opsional) Tambahkan ketebalan */
  }

  .excellence-swiper .swiper-pagination-fraction .swiper-pagination-current,
  .excellence-swiper .swiper-pagination-fraction .swiper-pagination-total {
    color: white !important; /* Pastikan angka juga putih */
  }
}

/* Mask untuk transparansi di desktop */
.container_section_slider.ourValuesSlider {
  position: relative; /* Pastikan section memiliki posisi relatif */
  mask-image: linear-gradient(to right, black 96%, transparent);
  -webkit-mask-image: linear-gradient(
    to right,
    black 96%,
    transparent
  ); /* Untuk kompatibilitas Webkit */
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

/* Hilangkan transparansi di mobile */
@media (max-width: 768px) {
  .container_section_slider.ourValuesSlider {
    mask-image: none;
    -webkit-mask-image: none;
  }
}

.product-swiper {
  overflow: visible !important;
}
